@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #AFFC41;
}

.heading-text {
    text-align: center;
    margin: 0px 0px 38px 0px;
    padding: 12px;
    font-size: 52px;
    height: 5rem;
    background-color: #086375;
    color: #ffffff;
    font-weight: 550;
}

.imgs {
    height: 200px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}


.choices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.imgs:hover {
    cursor: pointer;
    transform: scale(1.2) rotate(360deg);
}

.imgs:not(:hover) {
    transition: transform 0.6s ease-in-out;
    scale: (1);
}
