@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #FCA311;
}

.heading-text {
    text-align: center;
    margin: 0px 0px 38px 0px;
    padding: 12px;
    font-size: 52px;
    height: 5rem;
    background-color: #2A4494;
    color: #FCA311;
    font-weight: 650;
}

.imgs {
    height: 200px;
    width: 200px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}


.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.imgs:hover {
    cursor: pointer;
    transform: scale(1.1) rotate(26deg);
    border-bottom: 8px solid #2A4494;
    border-right: 8px solid #2A4494;
}

.imgs:not(:hover) {
    transition: transform 0.4s ease-in-out;
    transform: scale(1);
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 4rem;
    gap: 5rem;
}

#user-score, #comp-score {
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
    
}

#msg{
    display: inline;
    background-color:#000000;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1.5rem;
}
